@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<hr />
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>

@{
    Microsoft.Extensions.Primitives.StringValues message;

    if (Context.Request.Query.TryGetValue("message", out message))
    {
        <p><strong>Message:</strong> <code>@message</code></p>
    }
}
